@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}
body {
  @apply font-primary;
  @apply bg-primary;
}

h1 {
  @apply font-primary text-2xl md:text-4xl;
}

h2 {
  @apply font-primary text-xl md:text-3xl;
}

h3 {
  @apply font-primary text-lg md:text-2xl;
}

h4 {
  @apply font-primary text-base md:text-lg;
}

.layout-component {
  @apply mx-auto max-w-4xl py-4;
}

.content-liftup {
  position: relative;
  text-decoration: none;
}
.triple-border {
  position: relative;
  padding: 1px;
  border-radius: 5px 0;
}
/* .triple-border--large-margin {
    margin: 13px;
} */
.triple-border--large-margin:after,
.triple-border--large-margin:before {
  content: "";
  border-width: 3px;
  border-radius: 13px;
  width: calc(100% + 10px);
  height: calc(100% + 15px);
}
.triple-border__container {
  position: relative;
  overflow: hidden;
  border-radius: 3px 0;
}
.triple-border--large-margin:after,
.triple-border--large-margin:before {
  content: "";
  border-width: 3px;
  border-radius: 13px;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
}
.triple-border:after {
  bottom: 0;
  right: 0;
}
.triple-border:after,
.triple-border:before {
  z-index: 2;
  content: "";
  border: 2px solid white;
  border-radius: 5px;
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
}

.image {
  padding: 5px 10px;
}
.image:hover {
  background: white;
  z-index: 100;
}